

 body{ 
 background-color:#290323;
 color:white;
 font-family:sans-serif;
 }  
 
 nav a {
   text-decoration:none;
   color:#F0FFEC;
   background color:#4DEFFB;
  border-radius:2px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  
 }
 
 h2{
  color:#A1C2D9;
 }

  
